/* CSS general */
.container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

.title {
  display: flex;
  justify-content: center;
  padding: 0px 12px 0px 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #26408C;
}

/* CSS account data */

.doubleColumns {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.tripleColumns {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 130px 90px 100px;
  line-height: 24px;
  gap: 4px;
}

.secundaryTitle {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #26408C;
}

.contentTitle {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #26408C;
}

.text {
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #292929;
}

.showMoreLink {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 16px;
  font-size: 12px;
  font-weight: 600;
  color: #26408C;
  cursor: pointer;
}

/* CSS alert for when not exist data */
.alert {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #8F8F8F;
}

.link {
  padding-left: 4px;
  text-decoration: underline;
  color: #F25C05;
  cursor: pointer;
}

/* CSS modal */

.titleModal {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #26408C;
}

.inputs {
  margin: 24px 20px;
}

.row {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.columns {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 82px 110px;
  gap: 4px;
}

.label {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #525252;
}

.labelAux {
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #26408C;
}

.checkbox {
  display: flex;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #525252;
}

.status {
 display: flex;
 align-items: center;
 justify-content: center;
}

.btnModal {
  padding-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}