@media screen and (min-width: 720px){ 

  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 720px;
  }
}

@media screen and (max-width: 719px){

  .container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  }
}

/* CSS general */

/* CSS Results resume */

.results {
  width: 100%;
  background-color: #fff;
  margin-bottom: 32px;
  border-radius: 5px;
  border: 1px solid #DCE7FF;
  color: #525252;
  padding: 12px 12px;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #26408C;
}

.row {
  display: flex;
  gap: 12px;
  /* margin-top: 4px; */
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.doubleColumns {
  display: grid;
  align-items: center;
  padding-right: 12px;
  grid-template-columns: 70% 30%;
  gap: 8px;
  border-bottom: 1px solid #DCE7FF;
}

.secundaryTitle {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 28px;
  font-weight: 400;
}

.values {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}


/* CSS alert for when not exist data */
.alert {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #8F8F8F;
}

.link {
  padding-left: 4px;
  text-decoration: underline;
  color: #F25C05;
  cursor: pointer;
}

/* CSS modal /////////////////////////////////////////////////////////////////////*/

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 32px 32px;
}

.modalTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 14px;
  font-size: 17px;
  font-weight: 600;
  color: #26408C;
}

/* .modalSubtitle {
  display: flex;
  justify-content: center;
  color: #F25C05;
  font-weight: 300;
  font-size: 14px;
  padding: 20px 0px;
} */

.modalLink {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  line-height: 24px;
  font-size: 14px;
  cursor: pointer;
  color: #292929;
  text-decoration: underline;
}

.modalLink:hover {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  cursor: pointer;
  color: #F25C05;
  text-decoration: underline;
}
