@media screen and (min-width: 951px) {
  .loginArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 620px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(61, 61, 61, 0.2);
  }
}

.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.loginArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 620px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(61, 61, 61, 0.2);
}

.title {
  padding-top: 32px;
  font-size: 24px;
  line-height: 40px;
  color: #525252;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #a3a3a3;
  padding-bottom: 32px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 300px;
}

.label {
  font-size: 12px;
  line-height: 24px;
  color: #292929;
}

.forget {
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
  font-weight: 500;
  padding-top: 4px;
  color: #292929;
  cursor: pointer;
}

.forget:hover {
  color: #666666;
}

.button {
  display: flex;
  width: 300px;
  padding-top: 32px;
}

.errors {
  font-size: 12px;
  font-weight: 500;
  padding-top: 8px;
  color: #E92D30;
}

.signup {
  display: flex;
  padding-top: 20px;
  font-size: 14px;
  color: #a3a3a3;
}

.signupLink {
  font-weight: 500;
  padding-left: 4px;
  color: #666666;
  cursor: pointer;
}