@media screen and (max-width: 950px) {
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 80px;
  }
  
  .main {
    max-width: 1200px;
    width: 100%;
    margin:auto;
    border-radius: 5px;
    padding-bottom: 64px;
  }

}

@media screen and (min-width: 951px) {
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 80px;
  }
  
  .main {
    max-width: 1200px;
    width: 100%;
    margin:auto;
    border-radius: 5px;
    padding-bottom: 64px;
  }

}

