/* CSS general */
.container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

/* CSS modal */
.inputs {
  margin: 0px 20px 24px 20px;
}

.row {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.columns {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 82px 110px;
  gap: 4px;
}

.label {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #525252;
}

.labelAux {
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #26408C;
}

.checkbox {
  display: flex;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #525252;
}

.status {
 display: flex;
 align-items: center;
 justify-content: center;
}

.btnModal {
  padding-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.messageError {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  color:#D92B05;
  font-weight: 500;
}