/* CSS general */

.header {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

.title {
  display: flex;
  justify-content: center;
  margin-right: 24px;
  padding: 0px 16px 0px 16px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #26408C;
}

.button {
  color: #F25C05;
}