/* CSS general */
.container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

/* Css inputs */

.row {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #26408C;
}

.toggle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.linkAux {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #F25C05;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 12px;
}


/* CSS results */

.titleResults {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #26408C;
  gap: 8px;
}

.results {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #DCE7FF;
  color: #525252;
  padding: 12px 12px;
}

.contentRow {
  display: flex;
  /* padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px; */
}

.contentColumn {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #DCE7FF;
}

.titleValues {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 28px;
  font-weight: 400;
}

.values {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 600;
}

.btn {
  display: flex;
  margin-top: 40px;
}

.linkClean {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

/* CSS modal /////////////////////////////////////////////////////////////////////*/

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 32px 32px;
}

.modalTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #26408C;
}

.modalSubtitle {
  display: flex;
  justify-content: center;
  color: #F25C05;
  font-weight: 300;
  font-size: 14px;
  padding: 20px 0px;
}

.modalLink {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  line-height: 24px;
  font-size: 14px;
  cursor: pointer;
  color: #292929;
  text-decoration: underline;
}

.modalLink:hover {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  cursor: pointer;
  color: #F25C05;
  text-decoration: underline;
}