.container {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.message {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #8F8F8F;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 30px;
}