
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .icons {
    color: #F29E05;
  }

  .title {
    display: flex;
    margin-top: 32px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #292929;
  }

  .subtitle {
    display: flex;
    justify-content: center;
    margin-left: 16px;
    padding-top: 32px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #26408C;
  }




